@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
}

.header {
  position: fixed;
  top: 0vh;
  height: auto;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

.menuIconContainer, .appNameContainer, .headerIconContainer {
  display: flex;
  width: 33.3%;
}

.menuIconContainer {
  flex-direction: row;
}

.appNameContainer {
  justify-content: center;
}

.appNameContainer > a {
  text-decoration: none;
  cursor: pointer;
}

.headerIconContainer {
  flex-direction: flex-end;
}

.headerAppName {
  font-family: 'Pacifico', cursive;
  color: #cfecd8;
  font-size: 23px;
}

.headerIconContainer {
  justify-content: flex-end;
}

.personIcon, .menuIcon {
  color: #fff;
  margin: 0 15px 0 15px;
  cursor: pointer;
}

.sidebar {
  display: none;
}

.footer {
  position: fixed;
  bottom: 0vh;
  width: 100%;
  background-color: #fff;
}

.widgetLoader {
  margin: calc(50vh - 100px) auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.displayPierre {
  display: none;
}

@media only screen and (min-device-width: 812px) {
  .appComponent {
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar footer";
  }
  .sidebar {
    display: unset;
    position: absolute;
    z-index: 999;
    grid-area: sidebar;
    background-color: #E1E2E1;
  }
  .header {
    grid-area: header;
    z-index: 4;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
    z-index: 4;
  }
  .menuIcon {
    display: none;
  }
  .displayMenu {
    display: none;
  }
}
