@import url('https://fonts.googleapis.com/css?family=Roboto');

.dashboardComponent {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.dashboardComponent > nav {
  background-color: lightblue;
}

.exitButton {
  background-color: inherit;
  border: none;
}


@media only screen and (min-device-width: 812px) {

}
