@import url('https://fonts.googleapis.com/css?family=Roboto');

.dashboardComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* height: calc(var(--vh, 1vh) * 100 - 125px); */
  font-family: 'Roboto', sans-serif;
}

.dashboardComponent > * {
  width: 100%;
  display: flex;
}

.dashboardComponent > header {
  height: 5%;
  background-color: hotpink;
  font-size: 1.35em;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboardComponent > nav {
  height: 5%;
  background-color: lightblue;
}

.dashboardComponent > main {
  height: 83%;
  background-color: yellow;
  justify-content: center;
}

.dashboardNav {
  height: 7% !important;
  display: flex;
  justify-content: space-around;
}

.exitButton {
  margin-left: 15px;
}

.dashContainer {
  width: 80%;
}

.navToUsers, .navToChannels, .navToTraffic {
  background-color: inherit;
  border: none;
  cursor: pointer;
  width: 100%;
  margin: 0 5px;
}

.exitButton:focus {
  outline: none;
}

.navToUsers:focus {
  outline: none;
}

.navToChannels:focus {
  outline: none;
}

.navToTraffic:focus {
  outline: none;
}

.navToUsers > div, .navToChannels > div, .navToTraffic > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navToUsers > div > p, .navToChannels > div > p, .navToTraffic > div {
  font-size: 1.5em;
}

.widgetLoader {
  margin: calc(50vh - 100px) auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

@media screen and (min-width: 600px) {
  .dashboardComponent {
    height: 100%;
  }
};
