@import url('https://fonts.googleapis.com/css?family=Roboto');

/* temporary selectors until proper markdown validation is acheived */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.visibilityHidden {
  visibility: hidden;
}

.messageList {
  /* margin-right: 20px; */
  /* padding-left: 0; */
}

.messageListItem {
  width: 100%;
}

.message {
  flex-grow: 0;
  flex-shrink: 0;
}

.messageComponent li {
  /* width: 100vw; */
}

.submitTextarea {
  /* width: 100%; */
}

.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  /* width: 100vw; */
  margin-left: 5px;
}

.messageImage {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 15%;
  flex-grow: 0;
}

.content {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.display-name {
  font-size: 12px;
}

.messageList {
  padding: unset;
  /* margin-bottom: 50px; */
  list-style-type: none;
  /* padding-right: 6px; */
}

.messageList:first-child {
  margin-top: calc(100vh);
}

.messageList:last-child {
  margin-bottom: 90px;
}

.imageMessageContainer {
  display: flex;
  /* overflow-x: auto; */
}

.message .timeago {
  font-size: 9px;
  /* margin-right: 10px; */
  /* margin-top: 2px; */
  font-style: italic;
  flex-shrink: 0;
}

.submitTextarea {
  position: fixed;
  bottom: 20px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.22);
  width: 100vw;
}

@media only screen and (min-device-width: 868px) {
  .firstChild {
    /* margin-top: calc(100vh - 100px); */
  }
  .message, .submitTextarea {
    width: calc(100vw - 260px);
  }
}
