@import url('https://fonts.googleapis.com/css?family=Roboto');

/* temporary selectors until proper markdown validation is acheived */
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.visibilityHidden {
  visibility: hidden;
}

.messages-component {
  position: absolute;
  z-index: 0;
  background-color: #fff;
  height: 100%;
}

.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  width: 100vw;
}

.messageImage {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 15%;
  flex-shrink: 0;
}

.content {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.display-name {
  font-size: 12px;
}

.messageList {
  padding: 0;
  margin-bottom: 80px;
  list-style-type: none;
  padding-left: 6px;
}

.messageList:first-child {
  margin-top: calc(100vh - 128px);
}

.imageMessageContainer {
  display: flex;
  overflow-x: auto;
}

.message .timeago {
  font-size: 10px;
  margin-right: 10px;
  margin-top: 2px;
  font-style: italic;
  flex-shrink: 0;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (min-device-width: 868px) {
  .firstChild {
    margin-top: calc(100vh - 100px);
  }
  .message {
    width: calc(100vw - 250px);
  }
}
