@import url('https://fonts.googleapis.com/css?family=Roboto');

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.messages-component {
  position: absolute;
  z-index: 0;
  background-color: #fff;
}

.message {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  z-index: 3;
  max-width: 1140px;
  width: 100vw;
}

.messageImage {
  width: 40px;
  margin-right: 5px;
  margin-left: 10px;
  flex-shrink: 0;
}

.content {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.display-name {
  font-size: 12px;
}

.message-list:last-child {
  margin-bottom: 100px;
}

.message-list:first-child {
  margin-top: calc(100vh - 100px);
}

.imageMessageContainer {
  display: flex;
  overflow-x: auto;
}

.nameMessageContainer {
}

@media only screen and (min-device-width: 868px) {
  .message-list:first-child {
    margin-top: calc(100vh - 100px);
  }
  .message {
    width: calc(100vw - 300px);
  }
}
