@import url('https://fonts.googleapis.com/css?family=Roboto');

.roomsComponent {
	width: 100%;
	background-color: lightgreen;
}

.roomsComponent > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.roomNameButton {
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	outline: none;
  border-radius: 3px;
	background: none;
}
