.createRoomForm {
  margin-top: 100px;
}

.listContainer {
  position: fixed;
  bottom: 0;
  height: 780px;
  width: 200px;
  /* padding-top: 200px; */
  background-color: #A1887F;
}

.roomName {
  width: 158px;
  height: 25px;
  background-color: #8D6E63;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-bottom: 10px;
  border-radius: 3px;
}
