/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

.menuComponent {
  position: fixed;
  bottom: 0;
  height: calc(100vh - 40px);
  min-width: 250px;
  max-width: 250px;
  background-color: #fff;
  z-index: 4;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.menuComponent > section {
  /* border: 1px solid black; */
  margin: 0 8px;
  padding: 0;
}

.avatarCard {
  position: absolute;
  top: 1%;
  width: 228px;
  height: 11%;
}

.roomsCard {
  position: absolute;
  top: calc(18% - 20px);
  width: 228px;
  height: 16%;
  /* min-height: 40px; */
  /* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
}

.usersCard {
  position: absolute;
  top: calc(35% - 20px);
  width: 228px;
  height: 30%;
  min-height: 40px;
}

.trafficCard {
  position: absolute;
  bottom: 38px;
  width: 228px;
  height: 30%;
  min-height: 40px;
}

.userAvatar {
  height: 30px;
  width: 30px;
  border-radius: 8%;
  border: 1px solid black;
}

.userImage {
  height: 25px;
  width: 25px;
}

.authImagesList, .legendContent {
  list-style-type: none;
  margin: 0;
  /* width: auto; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: unset;
}

.authImage {
  width: 17px;
  height: 17px;
  margin: 0 0 4px 5px;
}

.menuComponent .usersList {
  padding-left: 0;
  list-style-type: none;
  height: calc(100% - 10px);
  margin: unset;
  overflow: scroll;
}

.menuComponent legend.avatarLegend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menuComponent .trafficList {
  padding-left: 0;
  list-style-type: none;
  height: calc(100% - 12px);
  margin: unset;
  overflow: scroll;
}

.menuComponent fieldset.roomsFieldset {
  height: calc(100% - 16px);
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.22); */
}

.menuComponent fieldset .trafficImage {
  display: none;
}

.menuComponent fieldset .timeago {
  font-size: 10px;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

.menuComponent .userListItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menuComponent .trafficListItem {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menuComponent .trafficListItem > .trafficDisplayName {
  width: 100px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuComponent .trafficListItem > .trafficAction {
  width: 80px;
  text-align: left;
}

.menuComponent .trafficListItem > .timeago {
  width: 67px;
  text-align: right;
}

.menuComponent img.userImage {
  height: 25px;
  width: 25px;
  text-align: left;
  margin-right: 10px;
}

.menuComponent div.userDisplayName {
  width: 141px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuComponent div.userAction {
  width: auto;
  text-align: right;
}

.menuComponent fieldset .trafficImage {
  margin-right: 0;
  font-size: 0.5em;
}

.menuComponent fieldset {
  margin: 0 !important;
  padding: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  height: 94%;
  width: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.22);
}

.widgetLoader {
  margin: calc(50vh - 100px) auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.roomSelect {
  display: block;
	font-size: 1.3em;
	line-height: 1.3;
	padding: .25em;
	width: 100%;
	margin: 0;
	border: 1px solid black;
	/* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}
.roomSelect::-ms-expand {
	display: none;
}
.roomSelect:hover {
	border-color: #232323;
}
.roomSelect:focus {
	outline: none;
}
