/* @import url('https://fonts.googleapis.com/css?family=Roboto'); */

.menuComponent {
  position: fixed;
  bottom: 0;
  height: calc(100vh - 40px);
  width: 250px;
  border-right: 1px solid black;
  background-color: #fff;
  z-index: 4;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.menuComponent > section {
  border: 1px solid black;
  margin: 0px 10px 30px 10px;
}

.menuComponent > section > h1 {
  font-size: 1.15em;
  margin-bottom: 10px;
}

.userAvatarCard {
  height: 150px;
  display: flex;
  align-items: center;
  margin: 30px 0 40px 0;
}

.roomsCard {
  height: calc(100vh - 38% - 385px);
  /* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
}

.subscribersCard {
  height: calc(100vh - 38% - 385px);
}

.trafficCard {
  position: absolute;
  bottom: 0;
  width: 228px;
  height: 173px;
}

.userAvatar {
  height: 29px;
  width: 29px;
  border-radius: 50%;
}

.userImage {
  height: 25px;
  width: 25px;
}

.menuComponent > section > .trafficList::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.menuComponent > section > .usersList::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.menuComponent > section > .trafficList {
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: calc(100% - 31px);
  margin: unset;
  overflow: scroll;
}

.menuComponent > section > .usersList {
  padding: 0;
  list-style-type: none;
  width: 100%;
  height: calc(100% - 31px);
  margin: unset;
  overflow: scroll;
}

.menuComponent > section > .trafficList > li {
  margin: 0 0 10px 0;
}

.menuComponent > section > .trafficList > li > div > .trafficImage {
  display: none;
}

.menuComponent > section > .usersList > li {
  margin: 0 0 10px 0;
}

.menuComponent > section > .trafficList > li > div > .timeago {
  margin-right: 0;
  font-size: 0.5em;
}

.widgetLoader {
  margin: calc(50vh - 100px) auto;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

.roomSelect {
  display: block;
	font-size: 1.3em;
	line-height: 1.3;
	padding: .25em;
	width: 100%;
	margin: 0;
	border: 1px solid black;
	/* box-shadow: 0 1px 0 1px rgba(0,0,0,.04); */
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}
.roomSelect::-ms-expand {
	display: none;
}
.roomSelect:hover {
	border-color: #232323;
}
.roomSelect:focus {
	outline: none;
}
