@import url('https://fonts.googleapis.com/css?family=Roboto');

.onlineUsersComponent {
  width: 100%;
}

.onlineUsersComponent > ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.inspectUserButton {
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	outline: none;
  border-radius: 3px;
  background: none;
}

.inspectUserButton {
	cursor: pointer;
	outline: none;
	height: 55px;
	text-align: left;
	background: none;
	width: 100%;
	border-style: none;
	margin-top: 10px;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	font-size: unset;
}

.inspectUserButton > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.userMenuImage {
  height: 25px;
  width: 25px;
}

.menuDisplayName {
  font-family: 'Roboto', sans-serif;
	margin-left: 10px;
	font-size: 17px;
}

.onlineStatus {
  color: green;
}

.indicator {
  width: 20px;
  height: 20px;
}

.isGreen {
  background-color: green;
}
