@import url('https://fonts.googleapis.com/css?family=Pacifico');

.supposedFieldset {
  padding: 0 0 0 10px;
  margin: 0;
  max-width: 1100px;
  border-radius: 8px;
}

.textarea {
  outline: none;
  border-radius: 7px;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 1.5em;
  min-height: 1em;
  padding: 5px;
  width: 100%;
}

.footerContainer {
  padding: 12px;
}

.formButtonWrapper {
  display: flex;
  justify-content: space-between;
}

.sendButton {
  cursor: pointer;
  background-color: #fd5523;
  width: 60px;
  height: 37px;
  border-radius: 12%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  flex-shrink: 0;
}

.send {
  color: #cfecd8;
}

@media only screen and (min-device-width: 812px) {
  .footerContainer {
    margin-left: 300px;
  }
};
