@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


/* .verification


 {
  margin: 0;
  padding: 0;
  border-radius: 6px;
} */

/* .formFieldset {
  border: none;
  padding: 0;
  border: 0;
  margin: 0;
} */

.appNameAtAuth {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

.formLegend {
  text-align: center;
  /* border: none; */
}

.parentFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 168px);
}

.oAuthButtons {
  list-style-type: none;
  padding: unset;
}

.authHero {
  height: 30%;
  width: 100%;
  /* background-color: lightgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldsContainer {
  height: 30%;
  width: 100%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  /* padding: 20px 20px; */
}

.buttonsContainer {
  height: 10%;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.oAuthDialog {
  height: 10%;
}

.oAuthContainer {
  height: 20%;
  width: 100%;
  /* background-color: hotpink; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.authLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  /* width: 100%; */
}

.selectionContainer {
  height: 30%;
}

.shouldMerge {
  width: 100%;
  height: auto;
}

.input {
  font-size: 16px;
  display: block;
  margin: auto;
  width: 70vw;
  max-width: 295px;
  height: 25px;
  /* border: 1px solid #232323;
  padding-left: 8px; */
  border-radius: 4px;
  margin-bottom: 25px;
}

.input:focus {
  outline: 0;
}

.errorMessage {
  height: 20px;
}

.disclaimerAndTos span {
  cursor: pointer;
  text-decoration: underline;
}

.loadingAnimation {
  margin: calc(50vh - 120px) auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.displayNone {
  display: none;
}

.oAuthButton {
  height: 80px;
}

.submitFormButton {
  border: 1px solid black;
  border-radius: 8px;
  height: 40px;
  max-width: 300px;
  width: 80%;
  background-color: #232323;
  color: #fff;
}

.oAuthWrapper {
  display: none;
}

@media screen and (min-width: 450px) {
  .parentFlex {
    height: 470px;
  }
  .oAuthWrapper {
    display: unset;
  }
};
