.signInFormComponent {
  width: 92%;
}

.signInWithEmailLegend {
  margin-left: 25px;
}

.googleButton {
  height: 36px;
  min-width: 64px;
  cursor: pointer;
  text-decoration: none;
}

.parentFlex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signInFieldset {
  padding-left: 0;
}
